/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Base styles
 */
body {
  color: #ccc;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

/*
 * Typography
 */
.link, .typography a {
  color: #19B1A2;
  text-decoration: none;
}

.link:visited, .typography a:visited {
  color: #19B1A2;
}

.link:hover, .typography a:hover, .link:visited:hover, .typography a:visited:hover {
  color: #eb34b9;
  text-decoration: underline;
}

.link:hover:after, .typography a:hover:after, .link:visited:hover:after, .typography a:visited:hover:after {
  border-bottom: 3px #eb34b9 solid;
}

.link:after, .typography a:after {
  content: '';
  border-bottom: 3px #19B1A2 solid;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.fixed, .typography pre, .typography code {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 15px;
  line-height: 1.2;
}

.quiet {
  color: #ccc;
}

.loud, .bold, .typography b, .typography strong {
  color: #000;
}

.italic, .typography i, .typography em {
  font-style: italic;
}

.bold, .typography b, .typography strong {
  font-weight: 700;
}

.h1, .typography h1, .typography .h1, .h2, .typography h2, .typography .h2, .h3, .typography h3, .typography .h3, .h4, .typography h4, .typography .h4, .h5, .typography h5, .typography .h5, .h6, .typography h6, .typography .h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.h1, .typography h1, .typography .h1, .h2, .typography h2, .typography .h2 {
  line-height: 1.1;
}

.h3, .typography h3, .typography .h3, .h4, .typography h4, .typography .h4 {
  line-height: 1.3;
}

.h1, .typography h1, .typography .h1 {
  font-size: 400%;
  letter-spacing: -2px;
}

.h2, .typography h2, .typography .h2 {
  font-size: 250%;
  letter-spacing: -1px;
}

.h3, .typography h3, .typography .h3 {
  font-size: 200%;
}

.h4, .typography h4, .typography .h4 {
  font-size: 180%;
}

.h5, .typography h5, .typography .h5 {
  font-size: 130%;
}

.h6, .typography h6, .typography .h6 {
  font-size: 100%;
}

.block-margins, .typography p, .typography ul, .typography ol, .typography pre {
  margin: 1em 0;
}

.unordered-list, .typography ul {
  list-style-type: disc;
}

.ordered-list, .typography ol {
  list-style: decimal;
}

.typography h1, .typography h1, .typography .h1 {
  margin: 1em 0 0.5em;
}

.typography h2, .typography h2, .typography .h2 {
  margin: 1em 0 0.5em;
}

.typography h3, .typography h3, .typography .h3 {
  margin: 1em 0 0.5em;
}

.typography h4, .typography h4, .typography .h4 {
  margin: 1em 0 0.5em;
}

.typography h5, .typography h5, .typography .h5 {
  margin: 1em 0 0.5em;
}

.typography h6, .typography h6, .typography .h6 {
  margin: 1em 0 0.5em;
}

/*
 * Modifiers
 */
.float-left {
  float: left;
  margin-right: 1em;
}

.float-right {
  float: right;
  margin-left: 1em;
}

.text-left {
  text-align: left   !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right  !important;
}

/*
 * Object definitions
 */
.content {
  margin: 0 auto;
  width: 32em;
}

.header-block {
  font-size: 110%;
}

.header-block.typography h1 {
  font-size: 450%;
}

.author-block {
  border-top: 3px double #ccc;
  margin-top: 4em;
}

body,
html {
  background: #2c2540;
  max-width: 100vw;
}

small {
  font-size: 60%;
  color: grey;
}

h1 {
  color: #ffffff;
}

p.intro {
  color: #ffffff;
}

a,
a:visited {
  text-decoration: none;
  position: relative;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #2e2643;
}

.highlight {
  color: #19b1a2;
  font-family: "Rubik", sans-serif;
}

.top {
  text-align: center;
  margin: 1rem auto;
  padding: 0.5rem 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 0.5rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-block {
  margin: 0.4rem 0 0.8rem 0;
}

.link-group {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (320px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 320px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-group li {
  margin: 0.75rem;
  overflow-wrap: break-word;
}

.board {
  background: #ffffff;
  border-radius: 5px;
  position: relative;
  height: 20px;
  padding-bottom: 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.board .header {
  top: 0;
  left: 0;
  margin-bottom: 2rem;
  border-radius: 5px 5px 0 0;
  width: 100%;
  padding: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}

.board.pools .header {
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #1e5799), to(#43c8e7));
  background: linear-gradient(to right, #1e5799 55%, #43c8e7 100%);
  content: attr(data-matchday);
}

.board[data-phase="Quarter Finals"] .header, .board[data-phase="Semi Finals"] .header {
  background-color: #016098;
  content: attr(data-phase);
}

.board[data-phase="3rd Place"] .header {
  background-color: #cd7f32;
  content: attr(data-phase);
}

.board[data-phase="Grand Final"] .header {
  background-color: #f5a800;
  content: attr(data-phase);
}

.board.expanded {
  width: 100%;
  max-width: 320px;
  margin: 1rem auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.match {
  margin: 1.5rem auto 1rem;
  border: 1px lightgray solid;
  position: relative;
  padding: 0.5rem;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.match .label {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4px 2px;
  border-radius: 16px;
  width: 125px;
  top: -1.5rem;
  position: absolute;
  left: -0.75rem;
  color: #ffffff;
  font-size: 75%;
}

.match .label .separator {
  border: 3px solid #ffffff;
}

.match .label.pool.A {
  background: #309bc6;
}

.match .label.pool.B {
  background: #d43151;
}

.match .label.pool.C {
  background: #19b1a2;
}

.match .label.pool.D {
  background: #772997;
}

.match .label.semis {
  background: #f5a800;
}

.match[data-pool="A"] {
  border-top: 4px #309bc6 solid;
  background: rgba(48, 155, 198, 0.2);
}

.match[data-pool="B"] {
  border-top: 4px #d43151 solid;
  background: rgba(212, 49, 81, 0.2);
}

.match[data-pool="C"] {
  border-top: 4px #19b1a2 solid;
  background: rgba(25, 177, 162, 0.2);
}

.match[data-pool="D"] {
  border-top: 4px #772997 solid;
  background: rgba(119, 41, 151, 0.2);
}

.match-time {
  font-size: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.match-time span {
  font-size: 60%;
  color: #FFFFFF;
  line-height: 5px;
}

.match-info {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.match-info .teams {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #2c2540;
}

.extra-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 640px) {
  .block-holder {
    display: -ms-grid;
    display: grid;
    grid-gap: 0.75rem;
    -ms-grid-columns: (300px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 300px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .board.expanded {
    margin: 1rem 0.75rem;
  }
}

.go-to {
  background: #f6bc00 no-repeat -12px center;
  border: 1px solid #f6bc00;
  border-radius: 4px;
  color: #fff;
  overflow: hidden;
  padding: 1rem 0.5rem;
  text-decoration: none;
  -webkit-transition: padding .2s ease, background-position .2s ease, -webkit-transform .5s ease;
  transition: padding .2s ease, background-position .2s ease, -webkit-transform .5s ease;
  transition: padding .2s ease, background-position .2s ease, transform .5s ease;
  transition: padding .2s ease, background-position .2s ease, transform .5s ease, -webkit-transform .5s ease;
  cursor: pointer;
}

.go-to:span {
  margin: 0;
  padding: 0;
}

.go-to:hover {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  padding-left: 88px;
  padding-right: 5px;
  background-position: 5px center;
}

.go-to span:nth-child(1) {
  position: absolute;
  left: -70px;
  -webkit-transition: left .2s ease;
  transition: left .2s ease;
}

.go-to:hover span:nth-child(1) {
  left: 20px;
}
/*# sourceMappingURL=kanban.css.map */